/axum_api_gw/target
/axum_landlord_server/target
/axum_property_server/target
/axum_user_server/target
/axum_diary_server/target
/axum_api_gw_no_redis/target
/grpc_apigw/target
/kafka_consumer_rust/target
/kafka_producer/target
/ms-one-data
/test_api/target
/test_api_copy/target
/usersgrpcserver/target
/actix_user_ms/target
/actix_user_ms/.env
/actix_properties_ms/target
/actix_properties_ms/.env
/actix_landlords_ms/target
/actix_landlords_ms/.env
*.rest
/actix_gw/target
/actix_gw/.env
/grpc_apigw_redis/target
/grpc_apigw_redis/.env
/rust_cc/target
/rust_cc/.env

/axum_api_gw/.env
/axum_diary_server/.env
/axum_landlord_server/.env
/axum_property_server/.env
/axum_user_server/.env
/axum_api_gw_no_redis/.env
/grpc_apigw/.env
/kafka_consumer_rust/.env
/kafka_producer/.env
/ms-one-data
/test_api/.env
/test_api_copy/.env
/usersgrpcserver/.env
/crossbeamtest/.env
/crossbeamtest/target
/client/node_modules
/client/.env
*.zip
*.jar

/data
/kafka
/target
.env
.rest
*.csv